<div class="qbanner1">
    <div class="qbanner1-item">
        <a routerLink="/mine/mpayorder">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <p>代付款</p>
        </a>
    </div>
    <div class="qbanner1-item">
        <i class="fa fa-bus" aria-hidden="true"></i>
        <p>今日配送</p>
    </div>
    <div class="qbanner1-item">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <p>待评价</p>
    </div>
    <div class="qbanner1-item"> 
        <a routerLink="/mine/mallorder">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <p>全部订单</p>
        </a>
    </div>
</div>
<div class="qbanner2">
    <ul>
        <li>
            <a href="javascript:void(0);">
                <i></i>
                <p>优惠券</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i>
                <p>积分</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i>
                <p>生日/纪念日</p>
            </a>
        </li>
        <li>
            <a routerLink="/mine/mcollect">
                <i></i>
                <p>我的收藏</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i>
                <p>在线付款</p>
            </a>
        </li>
        <li>
            <a routerLink="/customer/ ">
                <i></i>
                <p>联系客服</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i>
                <p>帮助</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i>
                <p>关于花礼</p>
            </a>
        </li>
    </ul>
</div>
<div class="qaddress">
    <span>账户管理</span>
    <div>
        <a routerLink="/mine/muser">管理收货地址等 > </a>
    </div>
</div>
<div class="qmain-b">
    
</div>